A few years ago, the United States District Court of Houston had a case that arises under Title VII of the Civil Rights Act of 1964, 42 U.S.C. 200e et seq. The plaintiffs in this case were all female doctors at Houston College of Medicine who claimed that the College has engaged in a pattern and practice of discrimination against women in giving promotions and setting salaries. The Lead plaintiff in this action, a pediatrician and an assistant professor, was denied for promotion at the College. The plaintiffs had presented a set of data to show that female faculty at the school were less likely to be full professors, more likely to be assistant professors, and earn less money than men, on average.

1 Dept 1=Biochemistry/Molecular Biology 2=Physiology 3=Genetics 4=Pediatrics 5=Medicine 6=Surgery

2 Gender 1=Male, 0=Female

3 Clin 1=Primarily clinical emphasis, 0=Primarily research emphasis

4 Cert 1=Board certified, 0=not certified

5 Prate Publication rate (# publications on cv)/(# years between CV date and MD date)

6 Exper # years since obtaining MD

7 Rank 1=Assistant, 2=Associate, 3=Full professor (a proxy for productivity)

8 Sal94 Salary in academic year 1994

9 Sal95 Salary after increment to 1994

Source: https://www.kaggle.com/hjmjerry/gender-discrimination

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/Lawsuit.csv')

In [4]:
df.head()

   ID  Dept  Gender  Clin  Cert  Prate  Exper  Rank   Sal94   Sal95
0   1     1       1     0     0    7.4      9     3   77836   84612
1   2     1       1     0     0    6.7     10     2   69994   78497
2   3     1       1     0     0    8.1      6     1   62872   67756
3   4     1       1     1     1    5.1     27     3  155196  173220
4   5     1       1     0     0    7.0     10     3   89268   96099

In [5]:
len(df)

261